<div class="div1">
    <div class="Pokemon-Crud">

        <div class="card" *ngFor="let pokemon of pokemons">
            <div class="img-avatar">
                <img [src]="pokemon.sprites.front_default">
            </div>
            <div class="card-text">
                <div class="portada"></div>
                <div class="title-total">
                    <div class="title">{{pokemon.types[0].type.name}}</div>
                    <h2>{{pokemon.name}}</h2>

                    <div class="desc">

                        <p>
                            <b>Altura:</b>{{pokemon.height}}

                        </p>
                        <p>
                            <b>Salud:</b>{{pokemon.stats[0].base_stat}}

                        </p>
                        <p>
                            <b>Fuerza:</b>{{pokemon.stats[1].base_stat}}

                        </p>

                    </div>



                    <div class="actions">
                        <h4> Agregar a favoritos</h4> <button (click)="AgregaPokemon(pokemon.name)"
                            class="fancy-button pop-onhover bg-gradient3"><span>Agregar</span></button>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>
 <div class="div2">
    <app-favoritos></app-favoritos>

</div> 