$white: #F2F2F2;
$red: #FB8789;
$yel:#F5DAA2;
$green:#8FD9C7;
$dark: #1B5166;
$blue:#1B70A6;
$liblue:#88C9F2;

.Pokemon-Crud{
	padding-top: 70px;	
	display: grid;
    grid-gap: 20px;

}
.Pokemon-Crud .Box{
	
	border-radius: 10px;
    background-color: $yel;
    width: 100%;
    height: 100px;
    box-shadow: 1px 2px 5px rgb(0, 0, 0,0.3);
}

.Pokemon-Crud .Box .Boximg{
	float: left;
	width: 50%;

}
.Pokemon-Crud .Box .Specs {
	
	font-size: 14px;
	float: right;
	width: 50%;
}

.Pokemon-Crud .Box .Specs h3 {
	
	padding-top: 7px;
}


 @mixin gradientBg($startColor, $endColor) {
	background: $startColor;
	background: linear-gradient(to right,  $startColor 0%, $endColor 80%,$endColor 100%);
}

.bg-gradient3 span,
.bg-gradient3:before {
	@include gradientBg($red, $liblue);
}

.wrapper {
  	margin: 5% auto;
	text-align: center;
	transform-style: perserve-3d;
	perspecive: 800px;
}
a {
	text-decoration: none;
  
	&:hover,
	&:focus,
	&:active {
	  text-decoration: none;
  }
}

.fancy-button {
	border: none;
background: none;
	display: inline-block;
	margin: 7px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
	
	&:before {
		content: '';
		display: inline-block;
		height: 10px;
		position: absolute;
		bottom: -5px;
		left: 30px;
		right: 30px;
		z-index: -1;
		border-radius: 30em;
		filter: blur(20px) brightness(0.95);
		transform-style: preserve-3d;
		transition: all 0.3s ease-out;
	}

	span {
		display: inline-block;
		padding: 10px 30px;
		border-radius: 50em;
		position: relative;
		z-index: 2;
		will-change: transform, filter;
		transform-style: preserve-3d;
		transition: all 0.3s ease-out;
	}
	&:focus,
	&:active {
		color: #ffffff;
	}
	&:hover {
		color: #ffffff;
		
		span {
			filter: brightness(1.05) contrast(1.05);
			transform: scale(0.95);
		}
		&:before {
			bottom: 0;
			filter: blur(10px) brightness(0.95);
		}
	}
	&.pop-onhover {
		
		&:before {
			opacity: 0;
			bottom: 10px;
		}
		&:hover {
			
			&:before {
				bottom: -7px;
				opacity: 1;
				filter: blur(20px);
			}
			span {
				transform: scale(1.04);
			}
			&:active {
				
				span {
					filter: brightness(1) contrast(1);
					transform: scale(1);
					transition: all 0.15s ease-out;
				}
				&:before {
					bottom: 0;
					filter: blur(10px) brightness(0.95);
					transition: all 0.2s ease-out;
				}
			}
		}
	}
}

	

.img-avatar {
	width: 80px;
	height: 80px;
	position: absolute;
	border-radius: 50%;
	border: 6px solid white;
	background-image: linear-gradient(-60deg, $green 0%, $yel 100%);
	top: 15px;
	left: 85px;
  }




	.fa { 
	left:  5px;	
	top: 5px;
	position: relative;
	display: table-cell;
	vertical-align: middle;

	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px solid white;
	background-image: linear-gradient(-60deg, $yel 0%, $liblue 100%);
    }
	
	
	.main-menu:hover,nav.main-menu.expanded {
	width:250px;
	overflow:visible;
	}
	
	.main-menu {
		background-color: rgba($red, 0.8);



	border-right:1px solid #e5e5e5;

	position: fixed;

	top:0;
	bottom:0;
	height:100vh;
	right:0;
	width:60px;
	overflow:hidden;
	-webkit-transition:width .05s linear;
	transition:width .05s linear;
	-webkit-transform:translateZ(0) scale(1,1);
	z-index:1000;
	}
	
	.main-menu>ul {
	margin:7px 0;
	}
	
	.main-menu li {
	position:relative;
	display:block;
	width:250px;
	}
	
	.main-menu li>a {
	text-align: center;
	position:relative;
	display:table;
	border-collapse:collapse;
	border-spacing:0;
	color:$dark;
	font-size: 14px;
	text-decoration:none;
	-webkit-transform:translateZ(0) scale(1,1);
	-webkit-transition:all .1s linear;
	transition:all .1s linear;
	  
	}
	
	.main-menu .nav-icon {
	position:relative;
	display:table-cell;
	width:160px;
	height:36px;
	text-align:center;
	vertical-align:middle;
	font-size:18px;
	}
	
	.main-menu .nav-text {
	left: 10px;	
	position:relative;
	display:table-cell;
	vertical-align:middle;
	width:190px;
	}
	
	
	
	.no-touch .scrollable.hover {
	overflow-y:hidden;
	}
	
	.no-touch .scrollable.hover:hover {
	overflow-y:auto;
	overflow:visible;
	}
	
	a:hover,a:focus {
	text-decoration:none;
	}
	
	nav {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	}

	nav ul {
		padding-top: 70px;	
	display: grid;
    grid-gap: 20px;

	}	


	nav li {
	

		border-radius: 50px;

  background-color: $yel;
 	box-shadow: 1px 2px 5px rgb(0, 0, 0,0.3);
		

	outline:0;
	margin:0;
	padding:0;
	}
	.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
	color:#fff;
	border-radius: 50px;
	width: 100%;
	background-color:$dark;
	}
	.area {
	float: right;
	background: #e2e2e2;
	width: 100%;
	height: 100%;
	}

	