

<nav class="main-menu">
    <ul>
        <li class="has-subnav" *ngFor="let pokemon of pokemonsFav">
            <a>

                <img [src]="pokemon.sprites.front_default" class="fa">
                <span class="nav-text">
                    <h3 >{{pokemon.name}}</h3>
               
                    <button (click)="quitarFav(pokemon)"
                        class="fancy-button pop-onhover bg-gradient3"><span>Quitar</span></button>
                </span>
            </a>

        </li>
     
    </ul>

  
</nav>